@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Roboto+Mono:wght@300;500&display=swap');

:root {
    /* COOLORS */
    --gainsboro: #d9dcddff;
    --morning-blue: #99aaa9ff;
    --new-york-pink: #df8081ff;
    --tuscan-red: #783e40ff;
    --green-sheen: rgb(43, 109, 106);
    --button-color: var(--green-sheen);
    
    /* fonts  */
    --outfit: 'Outfit', sans-serif;
    --mono: 'Roboto Mono', monospace;
}


* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: var(--morning-blue);
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Mono', monospace;
    color: var(--tuscan-red);
}

/* #mifge { */
    /* display: flex; */
    /* padding: 5px 10px; */
    /* background-color: var(--morning-blue); */
    /* font-size: small; */
/* } */
/*  */
/* #mifge-text { */
    /* padding-left: 400px; */
    /* padding-right: 90px; */
/* } */
/*  */
/* input[type=text] { */
    /* padding-top: 15px; */
    /* padding-bottom: 5px; */
    /* padding-right: 100px; */
    /* background-color: var(--morning-blue); */
    /* outline: none; */
    /* color: var(--color); */
    /* font-family: var(--mono); */
    /* font-size: medium; */
    /* border-top: none; */
    /* border-left: none; */
    /* border-right: none; */
    /* border-color: var(--green-sheen); */
/* } */
/*  */
/* input[type=submit] { */
    /* font-size: xx-large; */
    /* outline: none; */
    /* border-style: none; */
    /* background-color: var(--morning-blue); */
    /* color: var(--green-sheen); */
    /* cursor: pointer; */
/* } */
/*  */
/* input[type=submit]:hover { */
    /* font-size: x-large; */
/* } */

/* #hero-box { */
    /* background-color: var(--tuscan-red); */
    /* width: 100%; */
    /* height: 92vh; */
/* } */

#hero {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}

#me {
    width: 60%;
    margin-top: 250px;
    margin-left: 100px;
}

#work {
    width: 40%;
    margin-top: 400px;
    margin-left: 200px;
}

#me-p3 {
    width: 80%;
    margin-top: 40px;
}

.desc {
    width: 60%;
    margin-top: 40px;
}

#nav {
    margin-top: 150px;
}

#nav>ul>li {
    list-style: none;
}

#nav>ul>li>a {
    text-decoration: none;
    font-family: var(--outfit);
    color: var(--gainsboro);
    font-weight: 600;
    font-size: 100px;
}

#nav>ul>li>a:hover {
    color: var(--green-sheen);
    font-style: italic;
    font-family: var(--mono);
}

/* #footer { */
    /* margin-left: 100px; */
    /* margin-top: 140px; */
/* } */

#content {
    display: inline-block;
    flex-direction: row;
    position: absolute;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 2vw;
    height: 99vh;
    bottom: 0%;
    left: 0%;
    padding-left: 10px;
}

.items {
    height: 40%;
}

.left-item {
    transform: rotate(270deg);
    font-family: var(--outfit);
    cursor: pointer;
    /* border: 2px solid white; */
    padding: 20px 5px;
}

.left-item>a {
    color: var(--tuscan-red);
    text-decoration: none;
}

.left-item:hover{
    font-family: var(--mono);
    color: var(--new-york-pink);
    text-decoration: overline;
}

.left-item:nth-child(1) {
    margin-top: 100px;
}

#copyright {
    transform: rotate(270deg);
    margin-top: 100px;
}

#vertical-line {
    width: 1px;
    height: 200px;
    background-color: var(--gainsboro);
    margin-top: 60px;
}

.contact-box {
    margin-left: 200px;
    /* margin-top: 300px; */
}

.hello {
    font-size: 200px;
    font-weight: 600;
}

.links{
    margin-top: 20px;
}

.links>a {
    color: var(--tuscan-red);
}

.links>a:hover {
    text-decoration: line-through;
}

.about-p {
    width: 60%;
}

.contact-btn{
    width: 100px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: var(--tuscan-red);
}

.contact-btn>a {
    text-decoration: none;
    color: var(--gainsboro);
}

.contact-btn:hover {
    text-decoration: line-through;
}

@media only screen and (max-width: 912px) {
    
    #hero {
        flex-direction: column;
    }

    #nav {
        padding-left: 100px;
    }

    #me {
        margin-top: 100px;
    }

    #m3-p3 {
        width: 100%;
    }

    #work {
        width: 80%;
        margin-top: 100px;
        margin-left: 100px;
    }

    .desc {
        width: 100%;
    }

    .about-p {
        width: 100%;
    }

    .hello {
        font-size: 100px;
    }

    .contact-box {
        margin-left: 100px;
    }
}






















